<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Gestión</title>
    <link rel="stylesheet" type="text/css" href="script/css/estilos.css">

</head>
<body>
    <header>
        <h1>Aplicación de Gestión</h1>
    </header>

    <nav>
        <a href="clientes.php">Clientes</a>
        <a href="contratos.php">Contratos</a>
        <a href="pagos.php">Pagos</a>
        <div class="animation start-home"></div>
    </nav>


</body>
</html>
